body {
	font-family: 'Open Sans', sans-serif;
	background: url("img/bg.png") repeat-x fixed;
	background-size: 4.7%;
}

.str {
	color: #545454;
	font-size: 0.9em;
}

h1 {
	font-family: "Open Sans", sans-serif;
	font-size: 23px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 23px;
}

h3 {
	font-family: "Open Sans", sans-serif;
	font-size: 17px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 23px;
}

p {
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 23px;
}

blockquote {
	font-family: "Open Sans", sans-serif;
	font-size: 17px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 23px;
}

pre {
	font-family: "Open Sans", sans-serif;
	font-size: 11px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 23px;
}
